<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="handsfree.uop.liveperson.com.livepersonhandsfree" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CompanyListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_company_detail"
            android:parentActivityName=".CompanyListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CompanyListActivity" />
        </activity>

        <service
            android:name=".ChatService"
            android:label="chat service"
            android:icon="@drawable/ic_launcher"/>

        <receiver
            android:name=".ReceiveBroadcasts"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="handsfree.uop.liveperson.com.livepersonhandsfree"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
